<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="dashboard-specialist-image">
                <img src="../../../../assets/img/citaya_logo_tres.png" alt="logo citaya">
            </div>
        </div>
        <div class="row">
            <div class="dashboard-specialist-description">
                <div class="col-lg-8 col-md-8 col-sm-10">
                    <h5>Citas asignadas</h5>
                    <p>
                        Aquí podrás encontrar todas las citas que tus pacientes han solicitado, adicionalmente
                        en la columna de acciones podrás generar las ordenes médicas y marcar las citas como
                        completadas.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-assigned-appointments">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="card card-plain">
                        <div class="card-header card-header-info">
                            <h4 class="card-title mt-0" style="font-weight: bold;"> Citas Asignadas </h4>
                            <p class="card-category" style="font-weight: bold;"> Estas son las citas que tienes
                                asignadas hasta el momento. </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="">
                                        <th>
                                            Número Identificación
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora
                                        </th>
                                        <th>
                                            Acciones
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1.000.453.263
                                            </td>
                                            <td>
                                                Javier Corredor
                                            </td>
                                            <td>
                                                10/13/2022
                                            </td>
                                            <td>
                                                10:00
                                            </td>
                                            <td>
                                                <div class="action-icon-table">
                                                    <i class="material-icons">file_copy</i>
                                                    <i class="material-icons">assignment_turned_in</i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1.000.453.263
                                            </td>
                                            <td>
                                                Javier Corredor
                                            </td>
                                            <td>
                                                10/13/2022
                                            </td>
                                            <td>
                                                10:00
                                            </td>
                                            <td>
                                                <div class="action-icon-table">
                                                    <i class="material-icons">file_copy</i>
                                                    <i class="material-icons">assignment_turned_in</i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1.000.453.263
                                            </td>
                                            <td>
                                                Javier Corredor
                                            </td>
                                            <td>
                                                10/13/2022
                                            </td>
                                            <td>
                                                10:00
                                            </td>
                                            <td>
                                                <div class="action-icon-table">
                                                    <i class="material-icons">file_copy</i>
                                                    <i class="material-icons">assignment_turned_in</i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1.000.453.263
                                            </td>
                                            <td>
                                                Javier Corredor
                                            </td>
                                            <td>
                                                10/13/2022
                                            </td>
                                            <td>
                                                10:00
                                            </td>
                                            <td>
                                                <div class="action-icon-table">
                                                    <i class="material-icons">file_copy</i>
                                                    <i class="material-icons">assignment_turned_in</i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1.000.453.263
                                            </td>
                                            <td>
                                                Ernesto Perez Manglar
                                            </td>
                                            <td>
                                                10/13/2022
                                            </td>
                                            <td>
                                                21:00
                                            </td>
                                            <td>
                                                <div class="action-icon-table">
                                                    <i class="material-icons">file_copy</i>
                                                    <i class="material-icons">assignment_turned_in</i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>