.dashboard-specialist-image {
    img {
        margin-top: -5rem;
        width: 10rem;
    }
}

.dashboard-specialist-description {
    margin-top: 1rem;

    h5 {
        font-weight: bold;
    }
}

.action-icon-table {
    color: #00bcd4;

    i:first-child {
        margin-right: 1rem;
    }
}

.table-assigned-appointments {
    width: 100%;
}