<div class="container-image">
  <img src="../../../assets/img/citaya_logo_tres.png" alt="Logo CitaYa" />
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row register-flex">
      <div class="col-md-8">
        <div class="card">
          <h3 class="register-title">¡Un gusto saludarte!</h3>
          <div class="card-body">
            <form (ngSubmit)="specialistLoginEntry()" [formGroup]="loginSpecialistForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      formControlName="documentNumber"
                      type="text"
                      name="documentNumber"
                      matInput
                      placeholder="Número de identificación"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      formControlName="password"
                      matInput
                      placeholder="Contraseña"
                      type="password"
                      name="password"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 action-register">
                  <button mat-raised-button type="submit" class="btn-register">
                    Iniciar sesión
                  </button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div style="text-align: center">
          <a href="/#/user-login" style="color: #70BAE6;">Iniciar sesión como usuario</a>
        </div>
      </div>
    </div>
  </div>
</div>
