.dashboard-user-image {
    img {
        margin-top: -5rem;
        width: 10rem;
        margin-left: 14px;
    }
}

.dashboard-user-description {
    margin-top: 1rem;

    h5 {
        font-weight: bold;
    }
}