<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="dashboard-user-image">
                <img src="../../../../assets/img/citaya_logo_tres.png" alt="logo citaya">
            </div>
        </div>
        <div class="row">
            <div class="dashboard-user-description">
                <div class="col-lg-8 col-md-8 col-sm-10">
                    <h5>!Hola Javier!</h5>
                    <p>En este espacio podrás realizar todo tus trámites relacionados con solicitud de citas médicas y
                        ver las citas que ya tienes programadas.
                    </p>
                    <p> Puedes acceder a dichos servicios desde las opciones
                        ubicadas en la parte lateral izquierda de la página.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>